* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none !important;
}

.hideMobile {
  display: none !important;
}

#header {
  background-color: #383838;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  max-width: 50px;
  height: auto;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 0 15px;
  display: inline;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

/* form */
.frontPage {
  margin-top: 30px;
  margin-bottom: 30px;
}

.logInForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

label {
  display: flex;
  margin-bottom: 5px;
  margin-top: 20px;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  display: flex;
  margin: auto auto;
  width: 350px;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  align-items: center;
}

button {
  display: block;
  margin: auto;
  justify-content: space-between;
  width: 350px;
  padding: 10px;
  background-color: #383838;
  color: #fff;
  border: none;
}

p {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.blueText {
  color: blue;
  padding: 4px;
}

/* Hamburger menu */
.hamburgerMenu {
  background-color: #383838;
  border: none;
  position: absolute;
  top: 25px;
  right: 20px;
  width: 50px;
  padding-top: 0;
  z-index: 2;
}

.menuIconLi {
  list-style: none;
}

#closeIcon {
  width: 30px;
}

#menuIcon {
  width: 30px;
  z-index: 1;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-100%);
  transition-duration: 1.5s;
  background-color: #383838;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.showMenu {
  transform: translateY(0);
}

.menu li {
  list-style: none;
}

.menu a {
  font-size: 2rem;
  text-decoration: 1px underline transparent;
  transition: text-decoration 300ms ease;
}

.menu a:hover {
  text-decoration: 4px underline #585858;
}

.menu a:active,
a:visited {
  color: #ededed;
}

/* Messageboard */
.secretIdentity {
  text-align: center;
}

.messageField {
  border: #383838 solid 2px;
  width: 90%;
  height: 600px;
  margin: auto auto;
  border-radius: 10px 10px 0 0;
}

.sendMessageBtn {
  width: 50px;
}

.messageInput {
  width: 90%;
  margin: auto auto;
  border: #383838 solid 2px;
  border-top: none;
  padding-top: 10px;
  border-radius: 0 0 10px 10px;
}

.messageTextInput {
  width: 80%;
  margin-left: 10px;
}

/* About us */
.aboutUsDiv {
  text-align: center;
}

.about {
  margin-top: 40px;
}

footer {
    background-color: #383838;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 0 auto;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}
small {
  font-size: 1rem;
  font-weight: 500;
  width: 230px;
  text-align: center;
}
